# Q1. Explain with an example each when to use a for loop and a while loop.

In [1]:
#For loop is use where you know how many times you want to execute the loop
for i in range (0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [4]:
#While loop is use where you want to execute a loop until certain condition is met.
l = list(range(0,10))
i = 0
while i < 10:
    print(l[i])
    i += 1

0
1
2
3
4
5
6
7
8
9

# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [10]:
#List of natural number
l1=list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
## for loop

#Sum
total = 0
for i in l1:
    total = total + i
print(total)

55

In [9]:
#Product
product = None
for i in l1:
    if product is None:
        product = i
    else:
        product = product * i
print(product)

3628800

In [13]:
## While loop

#Sum
count = 0
total2 = 0
while count < 10:
    total2 = total2 + l1[count]
    count += 1
print(total2)

55

In [14]:
#Product
count = 0
product2 = None
while count < 10:
    if product2 is None:
        product2 = l1[count]
    else:
        product2 = product2 * l1[count]
    
    count+=1
print(product2)

3628800

# Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [17]:
unit = int(input('Enter the unit: '))
if unit <= 100 :
    charge = 4.5 * unit
    
elif unit > 100 and unit <= 200:
    charge = (unit-100) * 6 + (100 * 4.5)
    
elif unit > 200 and unit <= 300:
    charge = (unit-200) * 10 + (100 * 4.5) + (100 * 6)

else:
    charge = (unit-300) * 20 + (100 * 4.5) + (100 * 6) + (100 * 10)

print(f'Your total cost will be {charge}')

Enter the unit: 310
Your total cost will be 2250.0

# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [21]:
l2= list(range(1,101))

In [23]:
##For Loop

l3_cube = []

for i in l2:
    cube = i**3
    if cube%4 == 0 or cube%5 ==0 :
        l3_cube.append(cube)
print(l3_cube)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [28]:
#While Loop

l4_cube = []
i = 0
while i < 100:
    cube = l2[i]**3
    
    if cube%4 == 0 or cube%5 ==0 :
        l4_cube.append(cube)
    i+=1
print(l4_cube)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

# Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [30]:
string = "I want to become a data scientist"
count = 0
for i in string:
    for vowels in 'aeiou':
        if i.lower() == vowels:
            count+=1
print(count)

12